@import "abstracts/colors";
@import "../../../../styles/components/cards";

.wrapper {
  padding: 10px 40px;
}

.settings-top-box {
  height: 50px;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid darken($light-background, 13%);
}
.watchlist-toggle {
  color: $blue;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.watchlist-items {
  padding: 5px 0;
  margin: 0;
  text-decoration: none;
}
.watchlist-item {
  height: 35px;
  line-height: 35px;
  padding: 0 25px;
}
.watchlist-item_button {
  color: $blue;
  .fa {
    margin-right: 10px;
    font-weight: 100;
  }
}
.watchlist-line {
  height: 1px;
  color: darken($light-background, 12%);
  background-color: darken($light-background, 12%);
  border: none;
  width: 80%;
  text-align: center;
}

.dropdown_closed::after {
  content: '\f0d7';
  margin-left: 8px;
  font-family: FontAwesome;
}
.dropdown_opened::after {
  content: '\f0da';
  margin-left: 8px;
  font-family: FontAwesome;
}

.markets {
  padding: 20px 50px;
}
.markets_title {
  background-color: inherit;
  height: auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px !important;
}

.market-logo {
  width: 50px;
  height: 100%;
}
.market-logo__img {
  max-width: 100%;
  height: auto; max-height: 100%;
}
.market-name {
  width: 20%;
}
.market-name__name-box {
  display: block;
  margin: 0 10px;
}
.market-name__exchange-name {
  font-weight: bold;
  text-transform: uppercase;
}
.market-name__name {
  font-size: 12px;
  margin-top: 5px;
}
.market-change__change-value {
  font-size: 12px;
  margin-top: 5px;
}

.market-change {
  width: 25%;
  font-weight: bold;
}
.market-change__graph {
  width: 150px;
  height: 100%;
  margin: 0 15px;
  position: relative;
}
.market-change__change-percent {
  font-size: 16px;
}

.market-sell {
  width: 15%;
  font-size: 16px;
  font-weight: bold;
}
.sell-icon {
  width: 1.5em;
  height: 1.5em;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-background;
}

.market-sentiment {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.market-sentiment__text {
  align-self: flex-start;
  margin: 5px 0;
}

.button-add-market {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  background-color: #f9f9f9;
  color: $blue;
  cursor: pointer;
  border: none;
  outline-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  & .fa {
    font-size: 18px;
    margin-right: 10px;
  }
  &:hover {
    background-color: #fbfbfb;
  }
}
