<app-search></app-search>

<div class="wrapper">

  <div class="settings-top-box">

    <span mat-button [matMenuTriggerFor]="menu" class="watchlist-toggle dropdown_closed" #trigger
          (menuClosed)="toggleWatchlistDropdown(trigger)" (menuOpened)="toggleWatchlistDropdown(trigger)">My Watchlist</span>
    <mat-menu #menu="matMenu">
      <ul class="watchlist-items">
        <li class="watchlist-item" mat-menu-item>Show All</li>
        <li class="watchlist-item" mat-menu-item>Recently Invested</li>
        <li class="watchlist-item" mat-menu-item>My Watchlist</li>
      </ul>
      <hr class="watchlist-line">
      <button mat-menu-item class="watchlist-item_button"><i class="fa fa-plus"></i>Add new list</button>
    </mat-menu>

  </div>

  <div class="markets">
    <div class="card card_long markets_title">
      <div class="card_long__section market-name">Market</div>
      <div class="card_long__section market-change">Change 1D</div>
      <div class="card_long__section market-sell">Sell</div>
      <div class="card_long__section market-sell">Buy</div>
      <div class="card_long__section market-sentiment">Sentiment</div>
    </div>

    <div class="card card_long" *ngFor="let market of markets">
      <div class="card_long__section  market-name">
        <div class="market-logo">
          <img src="{{market.imagePath}}" alt="logo" class="market-logo__img">
        </div>
        <div class="market-name__name-box">
          <div class="market-name__exchange-name">{{market.symbol}}</div>
          <div class="market-name__name">{{market.name}}</div>
        </div>

      </div>
      <div class="card_long__section  market-change">
        <div class="market-change__values-box" [ngClass]="(market.changeValue>0) ? 'positive' : 'negative'">
          <div class="market-change__change-percent">{{market.changePercent}}%</div>
          <div class="market-change__change-value">({{market.changeValue}})</div>
        </div>
        <div class="market-change__graph">
          <app-graphic [data]="market.dataChange" [isPositiveChange]="(market.changeValue > 0)"></app-graphic>
        </div>
      </div>
      <div class="card_long__section  market-sell">
        <div class="sell-icon">S</div>
        {{market.sellPrice}}</div>
      <div class="card_long__section  market-sell">
        <div class="sell-icon">B</div>
        {{market.buyPrice}}</div>
      <div class="card_long__section  market-sentiment">
        <span class="market-sentiment__text">{{market.sentiment}}%  Buying</span>
        <mat-progress-bar mode="determinate" value="{{market.sentiment}}"></mat-progress-bar>
      </div>
    </div>

    <button class="button-add-market" (click)="openModalAddMarket()"><i class="fa fa-plus"></i>Add Market</button>
  </div>
</div>
