<div class="wrapper">
  <div class="tabs-top-box">
  </div>

  <div class="markets">
    <div class="title-box">
      Featured Markets
    </div>
    <div class="markets-content">

      <div class="card card-carousel" *ngFor="let market of featuredMarkets">
        <div class="card-carousel-logo">
          <img src="{{market.imagePath}}" alt="logo" class="card-carousel-logo__img">
        </div>
        <div class="card-description">
        </div>
      </div>

    </div>
  </div>

  <div class="markets">
    <div class="markets-title">Market Movers</div>
    <div class="markets-content">
    </div>
  </div>

  <div class="markets">
    <div class="markets-title">Crypto Coins</div>
    <div class="markets-content">
    </div>
  </div>

</div>
