@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "themes/theme";
@import "abstracts/colors";
@import "components/input";
@import "components/buttons";

@font-face {
  font-family: "fontAwesome";
  src: url("../assets/fonts/FontAwesome.otf") format("opentype");
}

.mat-progress-bar-fill::after {
  background-color: green !important;
}
.mat-drawer-inner-container {
  overflow: hidden !important;
}


