<div class="wrapper">

  <mat-form-field class="input-field">
    <input matInput type="text" placeholder="Username" name="username" required>
    <i matSuffix class="fa fa-user input__suffix" aria-hidden="true"></i>
  </mat-form-field>
  <mat-form-field class="input-field">
    <input matInput type="text" placeholder="E-mail" name="email" required>
    <i matSuffix class="fa fa-envelope-o input__suffix" aria-hidden="true"></i>
  </mat-form-field>
  <mat-form-field class="input-field">
    <input matInput type="password" placeholder="Password" name="password" required>
    <i matSuffix class="fa fa-lock input__suffix" aria-hidden="true"></i>
  </mat-form-field>
  <mat-form-field class="input-field">
    <input matInput type="password" placeholder="Confirm password" name="re-password" required>
    <i matSuffix class="fa fa-lock input__suffix" aria-hidden="true"></i>
  </mat-form-field>

  <button mat-button class="button_blue button_auth">Sign in</button>

</div>
