<app-search></app-search>
<div class="wrapper">
  <div class="title-box navigation">
    <ul class="navigation-list">
      <li class="navigation-item" routerLinkActive="navigation-item_active"><a routerLink="general">General</a></li>
      <li class="navigation-item" routerLinkActive="navigation-item_active"><a routerLink="account">Account</a></li>
      <li class="navigation-item" routerLinkActive="navigation-item_active"><a routerLink="trading">Trading</a></li>
      <li class="navigation-item" routerLinkActive="navigation-item_active"><a routerLink="notification">Notification</a></li>
      <li class="navigation-item" routerLinkActive="navigation-item_active"><a routerLink="privacy">Privacy</a></li>
    </ul>
  </div>
</div>

<div class="content-box">
  <router-outlet></router-outlet>
</div>

