<div class="wrapper">

  <mat-form-field class="input-field">
    <input matInput type="text" placeholder="Username" name="username" required>
    <i matSuffix class="fa fa-user input__suffix" aria-hidden="true"></i>
  </mat-form-field>
  <mat-form-field class="input-field">
    <input matInput type="password" placeholder="Password" name="password" required>
    <i matSuffix class="fa fa-lock input__suffix" aria-hidden="true"></i>
  </mat-form-field>
  <div class="checkbox-box">
    <mat-checkbox color="primary">Stay Signed in</mat-checkbox> <span class="forgot-password">Forgot password?</span>
  </div>
  <button mat-button class="button_blue button_auth">Sign in</button>

</div>
